<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- MAin header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">27 OCT</p>

                    </div>
                    <div class="main_layer">
                        <p id="city_name">output</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
    <script src="js/main.js"></script>
    <script>
        const getcurrDay = ()=>{
        let day = document.getElementById('day');
        const today_date = document.getElementById('today_date');
        var currTime = new Date();
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        var month = new Array(12);
        month[0] = "January";
        month[1] = "Febraury";
        month[2] = "March";
        month[3] = "April";
        month[4] = "may";
        month[5] = "June";
        month[6] = "July";
        var days = weekday[currTime.getDay()];
        day.innerText= days;
        today_date.innerText=`${currTime.getDate()} ${month[currTime.getMonth()]}`;
         }
         getcurrDay();

    </script>
</body>

</html>